[submodule "Libs/BeatSaberPlaylistsLib"]
	path = Libs/BeatSaberPlaylistsLib
	url = https://github.com/Zingabopp/BeatSaberPlaylistsLib.git
[submodule "Libs/SongFeedReaders"]
	path = Libs/SongFeedReaders
	url = https://github.com/Zingabopp/SongFeedReaders.git
